*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: blueviolet;
    text-align: center;
    min-height: 100vh;
    padding: 10px;
    margin: 40px;

}
.container{
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
    width: 600px;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    background-color: blanchedalmond;
    padding: 10px;
    margin: 40px;
    box-shadow: 5px 5px 5px 5px ;
}
p{
    font-weight: bolder;
    font-size: x-large;
    margin: 10px;
    padding: 10px;
}
button{
    padding: 10px;
    margin: 10px;
    border:  none;
    outline: none;
    border-radius: 5px;
    border: 1px solid cornsilk;
    height: 50px;
    background-color: rgb(247, 150, 24);
    cursor: pointer;
}
form{
    margin: 20px;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
}
form input{
    border-radius: 5px;
    border: 1px solid cornsilk;
    height: 50px;
    padding-left: 10px;
    justify-content: center;
}
.dropdwon{
    display: flex;
    justify-content: space-between;
}
.msg{
    font-size: 30px;
    padding: 20px;
    font-weight: bolder;
}
/* .From select{
    border: 1px solid black;
}
.To select{
    border: 1px solid black;
} */
 /* .select-container{
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px;
    margin: 5px;
    width: 150px;
    /* height: 50px; */
 